* { 
    box-sizing: border-box;
}
img {
    width: 30rem;
    height: 20rem;
}
p {
    width: 30rem;
    
}

.article {
    display: flex;
    flex-direction: column;
    margin-right: 1rem;
}

.row1,
.row2,
.row3 {
    display: flex;
    justify-content: center;
}
.top header {
    display: flex;
    align-items: center;
}

.header {
    text-align: center;

}

.title {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.footer {
    display: flex;
    justify-content: center;
}

body {
    display: flex;
    flex-direction: column;
    overflow: scroll;
    background-color: #c1de62;
}

a:hover {
    color: red;
}
.sidebar{
    display: grid;
    grid-template-columns: auto;
    grid-gap: 30px;
}
.container{
    display: grid;
    grid-template-columns: 3fr auto;
    padding: 10px;
}
@media only screen and (max-width: 600px) {
    body {
      background-color: lightblue;
    }
  }
.text {
    display: flex;
    justify-content: center;
}
